<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/output.css">
    <script src="https://kit.fontawesome.com/c9e868ff59.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <nav class="flex px-4 bg-lilac-100 text-white">
        <a href="/admin" class="hover:bg-sky-950 py-2 px-2">
            Home
        </a>
        <button class="ml-auto my-2 px-2 bg-sky-950 rounded-sm">User</button>
    </nav>
