

<footer class="fixed bottom-0 w-full text-center text-white py-4 bg-lilac-100">
    <div>
        <p> &#x2022; Copyright &#169; Pdf Paradise 2024 | all rights reserved &#x2022; </p>
    </div>
</footer>
</body>
</html>