
<footer class="bg-lilac-100 w-full py-4 text-white">
    <div class="px-10 md:px-40">
        <h1 class="text-xl">PDF Paradise</h1>
        <div class="grid gap-y-4 md:grid-flow-col md:justify-between">
            <div>
                <h3 class="font-bold">About:</h3>
                <p>About Pdf paradise</p>
                <p>Join our team!</p>
                <p>Contact us</p>
                <p>Invite friend</p>

            </div>
            <div>
                <h3 class="font-bold">Legal:</h3>
                <p>Terms</p>
                <p>Privacy</p>
                <p>Copyright</p>
                <p>Report issue</p>
                
            </div>
            <div>
                <h3 class="font-bold">Support:</h3>
                <p>Help / FAQ</p>
                <p>Accessibility</p>
                <p>Copyright</p>
            </div>
            <div>
                <h3 class="font-bold">Social:</h3>
                <a href="#" class="flex md:justify-around">
                    <p>Instagram</p>
                     <i class="fa-brands fa-instagram ml-2"></i>
                </a> 
                <a href="#" class="flex md:justify-between">
                    <p>Twitter </p>
                    <i class="fa-brands fa-x-twitter ml-2"></i>
                </a>
                <a href="http://" class="flex md:justify-around">
                    <p>Facebook</p>
                    <i class="fa-brands fa-facebook ml-2"></i>
                </a>
                <a href="http://" class="flex md:justify-around">
                    <p>Linkedin</p>
                    <i class="fa-brands fa-linkedin ml-2"></i>
                </a>
            </div>
        </div>
        <section class="border-t border-t-white mt-8 py-4">
            <p> &#x2022; Copyright &#169; Pdf Paradise 2024 | all rights reserved &#x2022; </p>
        </section>
    </div>
</footer>
</main>

<script src="index.js"></script>
</body>
</html>