<%- include('./partials/header') %>
<main class="mx-4 my-8">
<section class="px-4 box-border text-center">
    <h3 class="text-2xl">Book name</h3>
    <img src="/book.jpg" alt="cover image" class="max-w-[350px] mx-auto max-h-[400px] my-8">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim aspernatur culpa, tempore repellat commodi, accusantium, consequatur recusandae modi amet adipisci totam expedita molestias temporibus reprehenderit deserunt quia. Possimus, quidem exercitationem. Laudantium, asperiores ex ea eos quaerat et dolor. Harum consequatur atque quos placeat consequuntur autem qui deleniti ab in, obcaecati cum nam accusamus id recusandae repudiandae illum sapiente earum saepe inventore optio quod est architecto nobis. Voluptatibus ipsum voluptas fugiat vero inventore deserunt velit odit ad, doloribus consectetur dolore quis nihil molestiae cum vitae ut? Officia, adipisci inventore. Et iusto cum debitis illo! Laudantium perferendis totam porro dolore possimus eveniet assumenda, nulla nostrum, voluptas dolorum nisi a cum. Magnam dolorem est libero numquam nostrum labore, eum fugit animi iste sit perspiciatis dolore consequuntur? A eaque praesentium quae vero ex beatae nulla veniam qui perferendis aliquam vitae, doloremque facere veritatis doloribus ab, quas nisi omnis, officia possimus. Quod similique aliquid quis, minima ab mollitia voluptatum ex, suscipit dolore, ducimus aut quos perferendis? Ducimus nulla voluptate dolores sapiente accusamus vero expedita nam et quis cupiditate! Accusamus quas ad nemo, vero corporis ipsum ex tenetur harum asperiores deserunt sunt totam fugiat repudiandae maiores! At eius quas cumque perferendis quaerat sed porro consequuntur officiis!</p>
</section>
<section class="px-4 box-border my-4">
    <h4 class="text-xl text-center">Book Details</h4>
    <p> <b>Full book name:</b> </p>
    <p> <b>Author name:</b> </p>
    <p> <b>Genre:</b> </p>
    <p> <b>Language:</b> </p>
    <p> <b>Publication Date:</b> </p>
    <p> <b>File side:</b> </p>
    <div class="text-center">
        <h5 class="text-xl my-4">Download book</h5>
        <a href="http://" class="text-lilac-100 p-2 rounded-sm border-2 border-lilac-100 hover:bg-lilac-100 hover:text-white">
            Download PDF
            <i class="fa-solid fa-file-pdf text-red-600 mx-1"></i>           
        </a>
    </div>
</section>
</main>
<%- include('./partials/footer') %>