<%- include('./partials/header') %>
<main>
    <h3>Categories</h3>
    <div>
        <a href="http://" class="block">Search</a>
        <a href="http://" class="block">Search</a>
        <a href="http://" class="block">Search</a>
        <a href="http://" class="block">Search</a>
        <a href="http://" class="block">Search</a>
        <a href="http://" class="block">Search</a>
        <a href="http://" class="block">Search</a>
        <a href="http://" class="block">Search</a>
        <a href="http://" class="block">Search</a>
        <a href="http://" class="block">Search</a>
        <a href="http://" class="block">Search</a>
        <a href="http://" class="block">Search</a>
        <a href="http://" class="block">Search</a>
        <a href="http://" class="block">Search</a>
        <a href="http://" class="block">Search</a>
        <a href="http://" class="block">Search</a>
        <a href="http://" class="block">Search</a>
        <a href="http://" class="block">Search</a>
        <a href="http://" class="block">Search</a>
        <a href="http://" class="block">Search</a>
        <a href="http://" class="block">Search</a>
        <a href="http://" class="block">Search</a>
        <a href="http://" class="block">Search</a>
        <a href="http://" class="block">Search</a>
        <a href="http://" class="block">Search</a>
        <a href="http://" class="block">Search</a>
        <a href="http://" class="block">Search</a>
        <a href="http://" class="block">Search</a>
    </div>
</main>
<%- include('./partials/footer') %>