<%- include('./partials/header') %>
<main>
    <h1><%= resource %></h1>
    <div class="grid gap-y-4 md:grid-cols-2 lg:grid-cols-4">
        <a href="http://" class="bg-lilac-100">Search</a>
        <a href="http://" class="bg-lilac-100">Search</a>
        <a href="http://" class="bg-lilac-100">Search</a>
        <a href="http://" class="bg-lilac-100">Search</a>
        <a href="http://" class="bg-lilac-100">Search</a>
        <a href="http://" class="bg-lilac-100">Search</a>
        <a href="http://" class="bg-lilac-100">Search</a>
        <a href="http://" class="bg-lilac-100">Search</a>
        <a href="http://" class="bg-lilac-100">Search</a>
        <a href="http://" class="bg-lilac-100">Search</a>
        <a href="http://" class="bg-lilac-100">Search</a>
        <a href="http://" class="bg-lilac-100">Search</a>
        <a href="http://" class="bg-lilac-100">Search</a>
        <a href="http://" class="bg-lilac-100">Search</a>
        <a href="http://" class="bg-lilac-100">Search</a>
        <a href="http://" class="bg-lilac-100">Search</a>
        <a href="http://" class="bg-lilac-100">Search</a>
        <a href="http://" class="bg-lilac-100">Search</a>
        <a href="http://" class="bg-lilac-100">Search</a>
        <a href="http://" class="bg-lilac-100">Search</a>
        <a href="http://" class="bg-lilac-100">Search</a>
        <a href="http://" class="bg-lilac-100">Search</a>
        <a href="http://" class="bg-lilac-100">Search</a>
        <a href="http://" class="bg-lilac-100">Search</a>
        <a href="http://" class="bg-lilac-100">Search</a>
        <a href="http://" class="bg-lilac-100">Search</a>
        <a href="http://" class="bg-lilac-100">Search</a>
        <a href="http://" class="bg-lilac-100">Search</a>
    </div>
</main>
<%- include('./partials/footer') %>