
<%- include('./partials/adminHeader') %>
<main>
        <a class="float-right bg-lilac-100 p-2 m-4 rounded-md text-white" href="http://">
            Add Book
        </a>
    <div class="flex justify-around mt-5 shadow-md mx-5 clear-right">
        <div class="my-4 text-center">
            <p class="my">books:</p> 
            <span>20</span>
        </div>
        <div class="my-4 text-center">
            <p>Downloads:</p>
            <span>20</span>
        </div>
        <div class="my-4 text-center">
            <p>Visits:</p> 
            <span>20</span>
        </div>
    </div>
</main>
<%- include('./partials/adminFooter') %>